pharmacy_supervised_ml_app/pharmacy_project/supervised_model.pkl filter=lfs diff=lfs merge=lfs -text
dataset1/India[[:space:]]Medicines[[:space:]]and[[:space:]]Drug[[:space:]]Info[[:space:]]Dataset.csv filter=lfs diff=lfs merge=lfs -text
pharmacy_supervised_ml_app/dataset1/India[[:space:]]Medicines[[:space:]]and[[:space:]]Drug[[:space:]]Info[[:space:]]Dataset.csv filter=lfs diff=lfs merge=lfs -text
